name: Quality Checks
permissions:
  contents: read

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  quality:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        task: [static, test, build]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Static Analysis
        if: matrix.task == 'static'
        run: |
          npm run format:check
          npm run lint
          npm run typecheck
          npm run knip

      - name: Run Tests
        if: matrix.task == 'test'
        run: npm run test

      - name: Run Build
        if: matrix.task == 'build'
        run: npm run build
